body {
    font-family: Helvetica;
    color: black;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
}

a {
    color: gray;
    font-size: 8px;
}

a:hover {
    color: black;
}

h1 {
    font-size: 14px;
}
